#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!
! urxvt: keyboard shorcut activation
!
URxvt.perl-ext-common: default,resize-font,url-select,keyboard-select
URxvt.url-select.launcher: firefox --private-window
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.matcher.button: 1
!
! resize-font script: https://github.com/simmel/urxvt-resize-font
! 
URxvt.resize-font.bigger: C-k
URxvt.resize-font.smaller: C-j

!
! urxvt terminal: look and feel configuration 
!
URxvt.jumpScroll:		true
URxvt.secondaryScroll:		true
URxvt.loginShell:		true
URxvt.background:		#002b36
URxvt.foreground:		White
URxvt.scrollBar:		false
URxvt.scrollTtyOutput:		false
URxvt.scrollWithBuffer:		true
URxvt.scrollTtyKeypress:	true
URxvt.fading:			5
URxvt.font:			        xft:DejaVu Sans Mono:autohint=true:size=12,xft:Inconsolata\ for\ Powerline:autohint=true:size=12
URxvt.internalBorder:		3
URxvt.externalBorder:		0
URxvt.saveLines:		8192
URxvt.mapAlert:			true
URxvt.geometry:			100x25
URxvt.tripleclickwords:		true
URxvt.pastableTabs:		true
URxvt.cursorBlink:		true
URxvt.pointerBlank:		true

! Black + DarkGrey
URxvt*color0:       #000000
URxvt*color8:       #666666

! DarkRed + Red
URxvt*color1:       #b45151
URxvt*color9:       #fe8686

! DarkGreen + Green
URxvt*color2:       #aece92
URxvt*color10:      #c5ee83

! DarkYellow + Yellow
URxvt*color3:       #cbbba0
URxvt*color11:      #efe58b

! DarkBlue + Blue
URxvt*color4:       #2797d8
URxvt*color12:      #86cdea

! DarkMangenta + Mangenta
URxvt*color5:       #aa6eaf
URxvt*color13:      #cb96ce

!DarkCyan + Cyan
URxvt*color6:       #418179
URxvt*color14:      #71bebe

! LightGrey + White
URxvt*color7:       #bebebe
URxvt*color15:      #ffffff
